.libs
.deps
*~
*.log
*.o
*.lo
*.loT
*.a
*.so
*.dll
*.dylib
*.la
Makefile
config.sub
config.guess
config.h
configure
autom4te.cache
aclocal.m4
ltmain.sh
missing
install-sh
mimetex
gfuntype
libtool
stamp-h1
depcomp
config.status
*.tar.*
*.in
